export(is_julia_available)
export(Eora)
export(Gloria)
export(MRIO)
export(parse_gloria)
export(parse_gloria_sut)
export(MatrixEntry)
export(SeriesEntry)
export(groupby)
export(aggregate)
export(filter_rows)
export(filter_cols)
export(drop)
export(drop_mut)
export(filter_matrix)
export(to_long_dataframe)
export(from_long_dataframe)
export(groupby_matrix)
export(sum_by_country)
export(sum_by_sector)
export(add_calculated_column)
export(pivot_matrix_to_wide)
export(matrix_summary)
export(country_summary)
export(induced_production)
export(countries)
export(country)
export(sectors)
export(sector)
export(stressors)
export(stressor)


S3method(print, MatrixEntry)
S3method("[", MatrixEntry)
S3method(dim, MatrixEntry)
S3method(print, SeriesEntry)
S3method("[", SeriesEntry)
S3method(length, SeriesEntry)
S3method(print, EnvironmentalExtension)
S3method(print, LeontiefFactorization)
S3method(dim, LeontiefFactorization)
S3method("[", LeontiefFactorization)
S3method(print, MRIO)
S3method("$", MRIO)
S3method("[[", MRIO)
S3method(names, MRIO)
S3method(.DollarNames, MRIO)
S3method("$", MatrixEntry)
S3method("[[", MatrixEntry)
S3method(names, MatrixEntry)
S3method(.DollarNames, MatrixEntry)
S3method("$", SeriesEntry)
S3method("[[", SeriesEntry)
S3method(names, SeriesEntry)
S3method(.DollarNames, SeriesEntry)

import(JuliaConnectoR)
importFrom(utils, .DollarNames)
importFrom(utils, head)
